%h1 Listing families

%table.table.table-bordered.table-striped.table-hover
  %tr
    %th Name
    %th
    %th
   

  - @families.each do |family|
    %tr
      %td= family.name
      %td= link_to 'Show', admins_family_path(family)
      %td= link_to 'Delete', admins_family_path(family), :method => :delete, :data => { :confirm => 'Are you sure?' }
      
  
