%table
  %tr
    %th Name
    %th Attending
    %th Food
  
  -current_family.guests.each do |guest|
    %tr
      %td= guest.name
      %td= guest.rsvp ? "Yes" : "No"
      %td= guest.dietary
  
%p= link_to "Edit RSVP", edit_rsvp_path
