
%ul.nav
  - if user_logged_in?
    %li.home-page-menu-item 
      = link_to 'Logout',logout_path(@session)
   

     
             
       
    
  - else
    %li.home-page-menu-item
      = link_to 'Login', login_path(@session)   
    %li.home-page-menu-item
      = link_to'Sign up', signup_path(@guest)

  